body {
  font-family: 'Open Sans', sans-serif;
  background-color: #c2c2c2;
}

nav .navbar-brand {
  margin-left: 95px;
  margin-top: 30px;
}

nav .navbar-nav {
  margin-right: 100px;
  margin-top: 30px;
}

nav .navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 18px;
}

nav .navbar-nav .nav-item .nav-link.active {
  color: #000;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header-home {
  margin-top: 50px;
}

.header-home .image-header {
  margin-left: 150px;
  margin-right: 150px;
}

.header-home .heading-home {
  width: 426px;
  position: absolute;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: -400px;
  font-size: 48px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-home .sub-heading {
  width: 390px;
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin-left: 470px;
  margin-right: 470px;
  margin-top: -280px;
}

.header-home .btn-header {
  margin-top: -380px !important;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
}

.header-home .btn-header:hover {
  background-color: #000;
  color: #fff;
}

.menu-section {
  margin-top: 120px;
}

.menu-section .menu-heading h2 {
  font-size: 32px;
  font-weight: 600;
}

.menu-section .menu-list {
  margin-top: 40px;
}

.menu-section .menu-list .btn-menu {
  margin-left: 10px;
  margin-right: 10px;
  border-color: #f4f4f4;
  background-color: #fff;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  padding-top: 15px;
  color: #000;
}

.menu-section .menu-list .btn-menu.active {
  background-color: #ffca99;
  color: #000;
  border-color: #ffca99;
}

.image-section {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.image-section .image-content {
  margin-top: 30px;
}

.image-section .btn-load-more {
  margin-top: 50px;
  margin-bottom: 150px;
  width: 180px;
  background-color: #ffca99;
  color: #000;
  font-weight: normal;
}

.footer-section {
  background-color: #fff;
}

.footer-section .footer-brand {
  margin-bottom: 30px;
}

.footer-section .description-text .description {
  font-size: 18px;
  text-align: justify;
  width: 400px;
}

.footer-section .description-text .phone {
  font-size: 18px;
  text-align: justify;
}

.footer-section .description-text .instagram {
  font-size: 18px;
  text-align: justify;
}

.footer-section .heading-list .heading {
  font-size: 20px;
  font-weight: bold;
}

.footer-section .heading-list .menu-footer-list {
  list-style: none;
  margin-left: -30px;
}

.footer-section .heading-list .menu-footer-list a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.footer-section .footer-text {
  margin-top: 120px;
}

.footer-section .footer-text p {
  font-size: 14px;
}

.main-content-login .logo-brand {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: auto;
}

.main-content-login .heading-login p {
  font-size: 32px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: auto;
}

.main-content-login .card-login {
  border-radius: 30px;
  margin-left: 100px;
  margin-right: auto;
  background-color: #F6F8FB;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.main-content-login .card-login .form-login {
  margin-top: 30px;
}

.main-content-login .card-login .form-login .form-group {
  margin-bottom: 30px;
}

.main-content-login .card-login .form-login .form-group label {
  font-size: 14px;
  line-height: 30px;
  color: #ACACAC;
}

.main-content-login .card-login .form-login .form-group .form-input input {
  border-radius: 30px;
  background-color: #FCECDD;
}

.main-content-login .card-login .form-login .btn-login {
  border-radius: 30px;
  background-color: #ffca99;
  width: 325px;
  color: #fff;
}

.main-content-login .card-login .form-login .btn-register {
  border-radius: 30px;
  background-color: #ffca99;
  width: 325px;
  color: #fff;
}

.main-content-login .card-login .btn-forgot {
  margin-top: 10px;
  border-radius: 30px;
  background-color: #FCECDD;
  width: 325px;
  color: #000;
}

.main-content-login .card-login .section-register {
  color: #ACACAC;
  margin-top: 30px;
}

.main-content-login .card-login .section-register a {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=main.css.map */